@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Customizes the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f4f4f5; /* Color of the track */
}

/* Customizes the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #a51535; /* Color of the thumb */
}

/* Changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a51535; /* Darker color on hover */
}
